body {
    margin: 0;

}

#menu-open {
    margin: 1%;
}

#nav-bar {
    display:flex;
    background-color: #815E5B;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    z-index: 1;
}

#nav-bar h2 {
    margin-left: 5%;
    margin-right: 5%;

}

#side-bar #projectButton {
    border-radius: 0%;
    border: none;
    color: white;
    background-color: #815E5B;
    margin: 5%;
    width: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#input-button-div {
    transition: 0.3s;
}

#projectButton:hover {
    transform: scale(1.05);
    transition: 0.3s;
    background-color: #815E5B;
    margin: 5%;
    width: 100%;
}


#side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100vh;
    background-color: #8F6966;
    overflow: auto;
    color: white;
    border: none;
}

.project-divs {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #A27E7C;
    margin-bottom: 0.5%;
}

.project-divs:hover {
    transition: 0.3s;
    background-color: #997370;
    cursor: pointer;


}

.project-divs .project-buttons {
    border-radius: 0%;
    border: none;
    color: white;
    background-color: #C14953;
    margin: 5%;
    width: 10%;
}

#flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    
}

#content-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: none;
}

#content-bar div {
    display: flex;
    width: 100%;
}

#content-bar .project-container {
    border: 1px solid #997370;

}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #997370;
    color: white;
    overflow: auto;

}


.task-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #F2F4F3;
    height: 100%;
    color: black;
    overflow: auto;
    height: 100vh;
}

.task-container button {
    margin-top: 1rem;
    width: 3rem;
}

.task-item {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin: 1%;
}

.task-item:hover{ 
    background-color: #F1E3E4
}

.task-item p, .task-item button {
    margin: 3%;
}

.task-item button, .project-buttons {
    border: none;
    background-color: #C14953;
    color: white;
    border-radius: 10px !important;
    padding: 0;
    cursor: pointer;
}

#entryForm, #input-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 1%;
}

#input-button-div input {
    width: 100%;
    margin: 8%;
}

#entryForm label {
    margin: 1%;
}

#entryForm button, #input-button-div button, #addTaskButton {
    width: 5rem;
    border: none;
    background-color: #997370;
    color: white;
    border-radius: 10px;
}

#entryForm button:hover, #input-button-div button:hover, #addTaskButton:hover {
    width: 6rem;
    border: none;
    background-color: #A27E7C;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    #entryForm {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #entryForm label {
        float: left;
    }

    #entryForm input {
        width: 100%;
    }

    #side-bar {
        display: none;
    }
    .task-item {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #menu-open {
        display: block;
        cursor: pointer;
        margin: 1%;
    }
    
    #menu-open:hover {
        transform: scale(1.05);
    }
}